PORT=8080
SUPER_ADMIN_PASSWORD=change-me
SUPER_ADMIN_TOKEN_TTL_MS=43200000
SUPER_ADMIN_DATA_DIR=./data
LICENSE_PRIVATE_KEY_PATH=./keys/license-private.pem
LICENSE_PUBLIC_KEY_PATH=./keys/license-public.pem
